{% extends 'base.html.twig' %}

{% block title %}Ajouter une voiture{% endblock %}

{% block body %}
    <div class="container mt-5 mb-5">
        <div class="card shadow border-0">
            <div class="card-header bg-dark text-white">
                <h2 class="mb-0">Créer une nouvelle annonce</h2>
            </div>
            <div class="card-body p-4">
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-md-6">{{ form_row(form.brand) }}</div>
                    <div class="col-md-6">{{ form_row(form.model) }}</div>
                </div>
                <div class="row">
                    <div class="col-md-4">{{ form_row(form.price) }}</div>
                    <div class="col-md-4">{{ form_row(form.kilometers) }}</div>
                    <div class="col-md-4">{{ form_row(form.year) }}</div>
                </div>

                <hr>
                <h5>Détails techniques</h5>
                {{ form_rest(form) }}

                <button type="submit" class="btn btn-success btn-lg mt-3 shadow">Publier l'annonce</button>
                <a href="{{ path('ads_index') }}" class="btn btn-link mt-3 text-secondary">Retour au showroom</a>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
