{% extends 'base.html.twig' %}

{% block title %}Dashboard - BabsGarage{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="display-4">Statistiques du Garage</h1>
        <p class="lead">Bienvenue, {{ app.user.fullName }} !</p>

        <div class="row mt-4">
            <div class="col-md-6 mb-3">
                <div class="card bg-primary text-white shadow">
                    <div class="card-body text-center p-5">
                        <h4 class="card-title">Voitures en vente</h4>
                        <p class="display-2">{{ stats.ads }}</p>
                        <a href="{{ path('ads_index') }}" class="btn btn-light">Gérer les annonces</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mb-3">
                <div class="card bg-success text-white shadow">
                    <div class="card-body text-center p-5">
                        <h4 class="card-title">Membres de l'équipe</h4>
                        <p class="display-2">{{ stats.users }}</p>
                        <a href="{{ path('ads_create') }}" class="btn btn-light">Ajouter un véhicule</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
