{% extends 'base.html.twig' %}

{% block title %}Notre Showroom{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Nos voitures en vente</h1>

        <div class="row">
            {% for ad in ads %}
                <div class="col-md-4 mb-4">
                    <div class="card shadow-sm">
                        <img src="{{ ad.coverImage }}" class="card-img-top" alt="Image de {{ ad.title }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ ad.brand }} {{ ad.model }}</h5>
                            <p class="card-text text-muted">{{ ad.kilometers }} KM</p>
                            <h4 class="text-primary">{{ ad.price }} €</h4>
                            <a href="{{ path('ads_show', {'slug': ad.slug}) }}" class="btn btn-outline-info">Voir les détails</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
